body {
  font-family: 'Dongle', sans-serif;
  font-size: 20px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  text-shadow: 3px 3px black;
  background-image: linear-gradient(#132CD1, #06AED5);
  color: whitesmoke;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.lead {
  font-size: 1.75rem;
  font-weight: 300;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color:#838bc0;
  color: white;
}

.present {
  background-color: #45DDDD;
  color: white;
}

.future {
  background-color: #20EE94;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
